.switch-wrapper {
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  input {
    display: none;
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.slider {
  background-color: rgba(154, 159, 179, 0.8);
  border-radius: 50px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  transition: background-color 0.2s, justify-content 0.5s ease;

  .thumb {
    background-color: #fff;
    border-radius: 50%;
    //transition: box-shadow 0.2s, transform 0.2s;
    transition: transform 0.25s ease, box-shadow 0.2s;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.6);
  }
}

input:checked + .slider {
  background-color: rgba(84, 159, 234, 0.6);
  transition: transform 0.5s;
  justify-content: flex-end;

  &.switch-orange {
    background-color: rgba(235, 158, 31, 0.56);
  }

  &.switch-purple {
    background-color: rgba(174, 97, 234, 0.76);
  }

  .thumb {
    background-color: #1976d2;

    &.switch-orange {
      background-color: rgba(233, 146, 34, 0.92);
    }

    &.switch-purple {
      background-color: rgba(99, 16, 164, 0.89);
    }
  }
}

input:not(:checked) + .slider {
  justify-content: flex-start;
}

.small {
  width: 35px;
  height: 10px;

  .thumb {
    width: 13px;
    height: 13px;

    &:hover {
      box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    }
  }
}

.medium {
  width: 40px;
  height: 15px;

  .thumb {
    width: 17px;
    height: 17px;

    &:hover {
      box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    }
  }
}

.large {
  width: 50px;
  height: 20px;

  .thumb {
    width: 22px;
    height: 22px;

    &:hover {
      box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    }
  }
}
